
html {
  font-size: 16px;
}
article {
  max-width: 80ch;
  margin: 5rem auto;
  padding: 0 2rem;
  line-height: 1.6;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
